@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Inter:wght@100..900&family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.unfix-ios-bg {
  @supports (-webkit-touch-callout: none) {
    background-attachment: initial !important;
  }
}

@font-face {
  font-family: "Keep Calm";
  src: url("./assets/fonts/KeepCalm-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

.animate-fade-in {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s ease-in-out;
}

.animate-fade-out {
  opacity: 1;
  visibility: visible;
  animation: fadeOut 1s ease-in-out;
}

.colortop-bottom {
  background: linear-gradient(to bottom, #40a7bb, #03618c);
}

.colorbottom-top {
  background: linear-gradient(to bottom, #03618c, #40a7bb);
}

.custom-shape-divider-bottom-1725634512 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  top: 1px;
}

.custom-shape-divider-bottom-1725634512 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
  top: 0px;
}

@media (max-width: 1023px) {
  .custom-shape-divider-bottom-1725634512 svg {
    height: 30px;
  }
}

.custom-shape-divider-bottom-1725634512 .shape-fill {
  fill: #ffffff;
}

//shappeDiv com ondas viaradas para cima
.custom-shape-divider-top-1725902583 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1725902583 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 110px;
  top: 100px;
}

.custom-shape-divider-top-1725902583 .shape-fill {
  fill: #ffffff;
}

//ondas para baixo
.custom-shape-divider-top-1726083554 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1726083554 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: translateY(95%);
}

.custom-shape-divider-top-1726083554 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 1023px) {
  .custom-shape-divider-top-1726083554 svg {
    height: 60px;
    transform: translateY(90%);
  }
}
